
/* fonts */
@font-face{
  font-family:"Ionicons";
  src: url("../fonts/ionicons.eot?v=2.0.0");
  src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),
       url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"),
       url("../fonts/ionicons.woff?v=2.0.0") format("woff"),
       url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight:normal;
  font-style:normal
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
  border: none;
  background: none;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.4;
  color: #000;
  text-align: left;
  background-color: #fff;
}

p {
  letter-spacing: 0.2px;
}

/* ion */

.ion {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-android-close:before {
  content: "\f2d7";
}

.ion-ios-trash:before {
  content: "\f4c5"
}

.ion-android-add:before {
  content: "\f2c7";
}

/* Custom */
.bg-full {
  min-height: 100vh;
  background-image: url(../img/background_image_blur.jpg);
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
}

.vert-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.col-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.8rem;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.3rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 200;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
  line-height: 1.1;
}

/* Table */

.item {
  display: table;
  width: 100%;
  border: 1px solid #f2f2f2;
}
.item-name {
  letter-spacing: 0.2px;
  display: table-cell;
  width: 20%;
  padding: 10px
}

.item-value {
  letter-spacing: 0.2px;
  display: table-cell;
  width: auto;
  padding: 10px;
  -webkit-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.item-comment {
  letter-spacing: 0.2px;
  display: table-cell;
  width: 20%;
  padding: 10px;
}

.item-remove {
  display: table-cell;
  text-align: right;
  width: 60px;
  padding: 10px
}

.item-add {
  text-align: right;
  padding: 10px
}
.item-container:nth-child(odd) .item {
  background: #f2f2f2
}

.thead {
  font-weight: 500;
  letter-spacing: 0.2px;
}

.thead .item-value, .thead .item-comment {
  text-transform: capitalize;
}

/* Btns */

.ui-button, p-button, .btn, button.btn {
  letter-spacing: 0.4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  zoom: 1;
  overflow: visible;
  border: 1px solid transparent;
  font-weight: 200;
  font-size: 1.6rem;
  padding: 0.9rem 2rem;
  line-height: 1.25;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ui-button:focus, p-button:focus, .btn:focus {
  outline: medium none;
}

.ui-button, p-button, .btn-primary, button.btn-primary {
  border: 1px solid #00cd76;
  color: #fff;
  background-color: #00cd76;
  padding: 0.9rem 2rem;
  font-size: 1.6rem;
}

.ui-button:hover, p-button:hover, .btn-primary:hover, button.btn-primary:hover,
.ui-button:focus, p-button:focus, .btn-primary:focus, button.btn-primary:focus {
  color: #fff;
  background-color: #00a760;
  border-color: #009a59;
}

.btn-outline-secondary, button.btn-outline-secondary {
  color: #000;
  background-color: transparent;
  border: 1px solid #000 !important;
}

.btn-outline-secondary:hover, button.btn-outline-secondary:hover,
.btn-outline-secondary:focus, button.btn-outline-secondary:focus {
  color: #fff;
  background-color: #000;
  background-image: none;
  border: 1px solid #000 !important;
}

.btn-square, button.btn-square {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  line-height: 3.5rem !important;
  text-align: center;
  line-height: 1;
}

.btn-block{display:block;width:100%}

/* Form inputs */

.form-control-bordered {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  width: 100%;
  background: transparent;
  font-size: 1.4rem;
  line-height: 1.25;
  height: 2.6rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,205,118,0.6);
  transition: background .2s ease-in;
  color: #000;
  padding: 3px 8px 0;
}

.form-control-bordered:focus {
  background: #F8F8F8;
  outline: medium none;
}

.form-control-bordered[readonly] {
    border-bottom: none !important;
}

/* Primeng fileupload plugin */

.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}

.ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.ui-widget, .ui-widget * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-widget-content {
  border: 1px solid #f2f2f2;
  background: #ffffff;
  color: #000000;
  margin-bottom: 1rem;
}

.ui-corner-top {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

.ui-corner-bottom {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ui-widget-header {
  background: #f2f2f2;
  color: #000000;
  font-weight: normal;
}

.ui-fileupload-buttonbar {
    padding: .5em;
    border-bottom: 0 none;
    text-align: center;
}

.ui-fileupload-buttonbar .ui-button {
    vertical-align: middle;
    margin-right: .25em;
}

.ui-fileupload-content {
  padding: 4rem;
  position: relative;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.ui-fileupload-choose {
    position: relative;
    overflow: hidden;
}

.ui-fileupload-choose input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    direction: ltr;
    cursor: pointer;
}

.ui-fileupload-files {
  display: table;
}

.ui-fileupload-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #00cd76;
  border-radius: 3px;
  -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
      justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem
}

.ui-fileupload-row>div {
  padding: .5em 1em;
  vertical-align: middle;
  border-radius: 3px;
}

.ui-messages ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

.ui-messages-info,
.ui-messages-success {
  color: #00cd76;
  font-weight: 500;
  font-size: 1.6rem
}

.ui-messages-error,
.ui-messages-warn {
  color: red;
  font-weight: 500;
  font-size: 1.6rem
}
.ui-button-icon-only {
  padding: 0;
}
.ui-button-icon-only .ui-button-text {
  display: none;
}

/* Modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,.6);
}

.modal {
  width: 100%;
  heght: 100%;
}
.modal-backdrop.fade.in,
.modal.fade.in {
  opacity:1
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 1rem;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;
    transition: transform .3s ease-out;
    transform: translate(0, -25%);
}

.in .modal-dialog { transform: translate(0, 0); }


.modal-content {
  margin: auto;
  width: 100%;
  max-width: 600px;
  background: inherit;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.modal-header {
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
}

.modal-header .close {
  float: right
}

.modal-title {
  font-size: 2.4rem;
  font-weight: 200;
  text-align: center;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  border-top: 1px solid #f2f2f2;
  text-align: center;
  padding: 1rem;
}

.modal .btn-default {
  color: #000;
  background-color: transparent;
  background-image: none;
  border: 1px solid #000;
  margin-right: 2rem
}

.modal .btn-default:hover, .modal .btn-default:focus {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

@media(min-width: 768px) {
  .modal-dialog {
    max-width: 600px;
    margin: 30px auto;
  }
  .vert-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media(min-width: 992px) {
  .vert-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 1240px) {
  .container {
      max-width: 1200px;
  }
}
/* IE11 */

/* @media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, .ion-android-close:before, .ion-ios-trash:before, .ion-android-add:before {
    font-family: sans-serif !important;
    font-weight: bold !important;
  }

  *::-ms-backdrop, .ion-android-close:before, .ion-ios-trash:before {
    content: 'x';
  }
  *::-ms-backdrop, .ion-android-add:before {
    content: '+';
  }
  *::-ms-backdrop, .ui-fileupload-row > div:last-child {
    float: right
  }
} */
