<div  class="item" [formGroup]="tItem">
  <div class="item-name">
    <input type="text" [readonly]="!tItem.get('isEdit')" class="form-control-bordered rcbInput" id="itemName"  formControlName="tName">
  </div>
  <div class="item-value" *ngFor="let num of numTranslations">
    <textarea class="form-control-bordered rcbInput" [id]="'itemValue' + num" formControlName="{{'value' + num }}" *ngIf="tItem && tItem.get('value' + num) && tItem.get('isTextarea')"></textarea>
    <input type="text" class="form-control-bordered rcbInput" [id]="'itemValue' + num"  formControlName="{{'value' + num }}" *ngIf="tItem && tItem.get('value' + num) && !tItem.get('isTextarea')">
  </div>
  <div class="item-comment">
    <input type="text" *ngIf="tItem && tItem.get('comment')" class="form-control-bordered rcbInput" id="itemComment"  formControlName="comment">
  </div>
  <div class="item-remove">
    <button (click)="removeItem()" class="btn btn-outline-secondary btn-square"><span class="ion ion-ios-trash"></span></button>
  </div>
</div>
