<div class="bg-full vert-padding">

  <div class="container">
    <div class="card card-body">
      <h1>Resx translations online editor / CSV converter (Beta)</h1>

      <p-fileUpload name="myfile[]" url="./assets/upload.php" multiple="multiple"
          accept=".resx,.RESX,.csv" auto="true" [showUploadButton]="false" [showCancelButton]="false" (onSelect)="onSelect($event)" chooseLabel="Select files">

        <ng-template pTemplate="toolbar">
        </ng-template>
        <ng-template pTemplate="content">
          <div class="text-center">
            <p>
              Please upload maximum 3 .resx files or 1 .csv file by clicking on the button or by dragging them into this zone.
            </p>
            <p>This app supposes the files you upload are valid and correctly structured.</p>
            <p>The translation comments that will be used are the ones in the first uploaded file.</p>
          </div>
          <div *ngIf="uploadedFiles.length">
            <p-messages [value]="msgs"></p-messages>
            <div class="ui-fileupload-row" *ngFor="let file of uploadedFiles; let i = index;">
              <div>{{file.name}}</div>
              <div><button type="button" class="btn btn-primary btn-square" icon="ion ion-android-close" pButton (click)="removeFile($event,i)"></button></div>
            </div>
          </div>
        </ng-template>
      </p-fileUpload>

      <div class="item thead" *ngIf="uploadedFiles.length > 0">
        <div class="item-name">Parameter</div>
        <div *ngFor="let tHead of tHeads; index as i" class="item-value" [innerHTML]="tHead"></div>
        <div class="item-comment">Comment</div>
        <div class="item-remove"></div>
      </div>
      <app-form [maxFiles]="maxFiles" [fileData]="fileData" [uploadedFiles]="uploadedFiles" [numTranslations]="numTranslations" (save)=onSave($event)></app-form>
    </div>
  </div>
</div>
