<div class="qualifying vert-padding">

  <div class="container">
    <div class="card card-body">

      <h1>Resx translations online editor</h1>

      <p-fileUpload name="myfile[]" url="./assets/upload.php" multiple="multiple"
          accept=".resx" auto="true"  (onUpload)="onUpload($event)">

        <ng-template pTemplate="toolbar">
        </ng-template>
        <ng-template let-file pTemplate="file">
          <div *ngIf="uploadedFiles.length">
            <p-messages [value]="msgs"></p-messages>

              <div class="ui-fileupload-row" *ngFor="let file of uploadedFiles; let i = index;">
                <div>{{file.name}}</div>
                <div><button type="button" class="btn btn-primary btn-square" icon="ion ion-android-close" pButton (click)="remove($event,i)"></button></div>
              </div>


          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="text-center">
            Please upload maximum 3 files by clicking on the button or by dragging them into this zone.
          </div>
          <div *ngIf="uploadedFiles.length">
            <p-messages [value]="msgs"></p-messages>

              <div class="ui-fileupload-row" *ngFor="let file of uploadedFiles; let i = index;">
                <div>{{file.name}}</div>
                <div><button type="button" class="btn btn-primary btn-square" icon="ion ion-android-close" pButton (click)="removeFile($event,i)"></button></div>
              </div>


          </div>
        </ng-template>
      </p-fileUpload>

      <form name="form" role="form" [formGroup]="rForm" novalidate [hidden]="uploadedFiles.length < 1">

        <div class="item thead">
          <div *ngFor="let tHead of tHeads; index as i" [ngClass]="[i===0 ? 'item-name' : 'item-value']" [innerHTML]="tHead"></div>
          <div class="item-remove"></div>
        </div>
        <div formArrayName="translations">
          <div *ngFor="let item of this.rForm.controls.translations.controls; index as i" [formGroupName]="i" class="item-container">
            <translation [tItem]="rForm.controls.translations.controls[i]" [tHeads]="tHeads" [uploadedFiles]="uploadedFiles" (notify)="removeTranslation($event)"></translation>
          </div>
          <div class="item-add">
            <button type="button" class="btn btn-primary btn-square" (click)="addTranslation()"><span class="ion ion-android-add"></span></button>
          </div>
        </div>
        <br>
        <button type="submit" name="submit" value="submit" (click)="save(rForm)" class="btn btn-primary btn-block">Save and download</button>

      </form>
    </div>
  </div>
</div>
