<div class="bg-full vert-padding">

  <div class="container">
    <div class="card card-body">
      <h1>Resx translations online editor / CSV converter (Beta)</h1>

      <p-fileUpload name="myfile[]" url="./assets/upload.php" multiple="multiple"
          accept=".resx,.csv" auto="true" [showUploadButton]="false" [showCancelButton]="false" (onSelect)="onSelect($event)" chooseLabel="Select files">

        <ng-template pTemplate="toolbar">
        </ng-template>
        <ng-template let-file pTemplate="file">
          <div *ngIf="uploadedFiles.length">
            <p-messages [value]="msgs"></p-messages>

              <div class="ui-fileupload-row" *ngFor="let file of uploadedFiles; let i = index;">
                <div>{{file.name}}</div>
                <div><button type="button" class="btn btn-primary btn-square" icon="ion ion-android-close" pButton (click)="remove($event,i)"></button></div>
              </div>


          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="text-center">
            <p>
              Please upload maximum 3 .resx files or 1 .csv file by clicking on the button or by dragging them into this zone.
            </p>
            <p>This app supposes the files you upload are valid and correctly structured.</p>
            <p>The translation comments that will be used are the ones in the first uploaded file.</p>
          </div>
          <div *ngIf="uploadedFiles.length">
            <p-messages [value]="msgs"></p-messages>

              <div class="ui-fileupload-row" *ngFor="let file of uploadedFiles; let i = index;">
                <div>{{file.name}}</div>
                <div><button type="button" class="btn btn-primary btn-square" icon="ion ion-android-close" pButton (click)="removeFile($event,i)"></button></div>
              </div>


          </div>
        </ng-template>
      </p-fileUpload>

      <form name="form" role="form" [formGroup]="rForm" novalidate [hidden]="uploadedFiles.length < 1">

        <div class="item thead">
          <div *ngFor="let tHead of tHeads; index as i" [ngClass]="{'item-name' : i===0, 'item-comment' : i===tHeads.length-1, 'item-value' : i !==0 && i!==tHeads.length-1}" [innerHTML]="tHead"></div>
          <div class="item-remove"></div>
        </div>
        <div formArrayName="translations">
          <div *ngFor="let item of this.rForm.controls.translations.controls; index as i" [formGroupName]="i" class="item-container">
            <translation [tItem]="rForm.controls.translations.controls[i]" [tHeads]="tHeads" [numValues]="numValues" (notify)="removeTranslation($event)"></translation>
          </div>
          <div class="item-add">
            <button type="button" class="btn btn-primary btn-square" (click)="addTranslation()"><span class="ion ion-android-add"></span></button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <button type="submit" name="submit" value="submit" (click)="saveResx(rForm)" class="btn btn-primary btn-block">Save and download .resx</button>
          </div>
          <div class="col-6">
            <button type="button" (click)="saveCsv(rForm)" class="btn btn-primary btn-block">Save and download .csv</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
